<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Add Event</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3 th:text="#{event.add}"></h3>


        <p class="h4 mb-4" th:text="#{event.save}"></p>
        <form action="#" th:action="@{/events/save}"
        th:object="${event}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{eventId}"/>

            <p th:text="#{event.name}"></p>
            <input type="text" th:field="*{title}" class="form-control mb-4 col-4">
            <p th:text="#{event.date}"></p>
            <input type="datetime-local" th:field="*{dateTime}" class="form-control mb-4 col-4">
            <p th:text="#{event.description}"></p>
            <input type="text" th:field="*{description}" class="form-control mb-4 col-4">
            <p th:text="#{event.relatedCase}"></p>
            <input type="text" th:field="*{relatedLawsuit}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2" th:text="#{command.save}"></button>

        </form>

        <hr>
        <a th:href="@{/events/list}" th:text="#{event.backToEventList}"></a>
        <br>
        <a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>


    </div>

</body>
</html>
