<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Add Payment</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3 th:text="#{payment.add}"></h3>


        <p class="h4 mb-4" th:text="#{payment.save}"></p>
        <form action="#" th:action="@{/payments/save}"
        th:object="${payment}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{paymentId}"/>

            <p th:text="#{payment.value}"></p>
            <input type="text" th:field="*{paymentValue}" class="form-control mb-4 col-4">
            <p th:text="#{payment.date}"></p>
            <input type="datetime-local" th:field="*{paymentDate}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2" th:text="#{command.save}"></button>

        </form>

        <hr>
        <a th:href="@{/payments/list}" th:text="#{payment.backToPaymentList}"></a>
        <br>
        <a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>


    </div>

</body>
</html>
