<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Dodaj tag</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3>Dodaj tag</h3>


        <p class="h4 mb-4">Zapisz tag</p>
        <form action="#" th:action="@{/tags/save}"
        th:object="${tag}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}"/>

            <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
            placeholder="tag">

            <button type="submit" class="btn btn-info col-2">Zapisz</button>

        </form>

        <hr>
        <a th:href="@{/tags/list}">Powrót do listy tagów</a>
        <br>
        <a th:href="@{/main/menu}">Powrót do menu</a>


    </div>

</body>
</html>
