<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Tag list</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

<div class="container">
    <br>
    <h3 th:text="#{tag.list}"></h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{tag.tag}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTag : ${tags}">
            <td th:text="${tempTag.name}"/>
            <!-- add button -->
            <td>
                <a th:href="@{/tags/showFormForUpdate(tagId=${tempTag.id})}"
                class="btn btn-info btn-sm"
                th:text="#{command.update}">
                </a>
                <a th:href="@{/tags/delete(tagId=${tempTag.id})}"
                class="btn btn-danger btn-sm"
                   th:data-confirm-delete="#{tag.deleteConfirm}"
                onclick="if (!(confirm(this.getAttribute('data-confirm-delete')))) return false"
                th:text="#{command.delete}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Add a button -->
    <a th:href="@{/tags/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3"
    th:text="#{tag.add}">
    </a>
    <hr>
    <a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>
</div>
</body>
</html>
