<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Add task</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3 th:text="#{task.add}"></h3>
        <p class="h4 mb-4" th:text="#{task.save}"></p>
        <form action="#" th:action="@{/tasks/save}"
        th:object="${task}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}"/>

            <p th:text="#{task.priority}"></p>
            <input type="text" th:field="*{priority}" class="form-control mb-4 col-4">
            <p th:text="#{task.deadline}"></p>
            <input type="datetime-local" th:field="*{deadline}" class="form-control mb-4 col-4">
            <p th:text="#{task.description}"></p>
            <input type="text" th:field="*{description}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2" th:text="#{command.save}"></button>

        </form>

        <hr>
        <a th:href="@{/tasks/list}" th:text="#{task.backToTaskList}"></a>
        <br>
        <a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>


    </div>

</body>
</html>
