<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Dodaj zadanie</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3>Dodaj zadanie</h3>
        <p class="h4 mb-4">Zapisz zadanie</p>
        <form action="#" th:action="@{/tasks/save}"
        th:object="${task}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}"/>

            <input type="text" th:field="*{description}" class="form-control mb-4 col-4"
            placeholder="opis">
            <input type="datetime-local" th:field="*{deadline}" class="form-control mb-4 col-4"
            placeholder="deadline">
            <input type="text" th:field="*{priority}" class="form-control mb-4 col-4"
            placeholder="priorytet" value="priorytet">

            <button type="submit" class="btn btn-info col-2">Zapisz</button>

        </form>

        <hr>
        <a th:href="@{/tasks/list}">Powrót do listy zadań</a>
        <br>
        <a th:href="@{/main/menu}">Powrót do menu</a>


    </div>

</body>
</html>
