<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Task list</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

<div class="container">
    <br>
    <h3 th:text="#{task.list}"></h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{task.deadline}"></th>
            <th th:text="#{task.priority}"></th>
            <th th:text="#{task.description}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTask : ${tasks}">
            <td><a th:href="@{/tasks/__${tempTask.taskId}__}"
                   th:text="${#temporals.format(tempTask.deadline, 'dd-MM-yyyy HH:mm')}"></a></td>
            <td th:text="${tempTask.priority}"></td>
            <td th:text="${tempTask.description}"></td>
            <!-- add button -->
            <td>
                <a th:href="@{/tasks/{id}/edit(id=${tempTask.taskId})}"
                class="btn btn-info btn-sm"
                th:text="#{command.update}">
                </a>
                <a th:href="@{/tasks/delete(taskId=${tempTask.taskId})}"
                class="btn btn-danger btn-sm"
                   th:data-confirm-delete="#{task.deleteConfirm}"
                onclick="if (!(confirm(this.getAttribute('data-confirm-delete')))) return false"
                th:text="#{command.delete}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Add a button -->
    <a th:href="@{/tasks/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3"
    th:text="#{task.add}">
    </a>
    <hr>
    <a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>
</div>
</body>
</html>
