<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Lista zadań</title>
</head>
<body>

<div class="container">
    <h3>Lista zadań</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/tasks/showFormForAdd}"
    class="btn btn-primary btn-sm mb-3">
        Dodaj zadanie
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Priorytetowe</th>
            <th>Deadline</th>
            <th>Opis</th>
            <th>Powiązane sprawy</th>
            <th>Powiązane kontakty</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTask : ${task}">
            <td th:text="${tempTask.priority}"/>
            <td th:text="${tempTask.deadline}"/>
            <td th:text="${tempTask.description}"/>
            <td th:text="${tempTask.lawsuitList}"/>
            <td th:text="${tempTask.contactList}"/>
            <!-- add button -->
            <td>
                <a th:href="@{/tasks/showFormForUpdate(taskId=${tempTask.id})}"
                class="btn btn-info btn-sm">
                    Zaktualizuj
                </a>
                <a th:href="@{/tasks/delete(taskId=${tempTask.id})}"
                class="btn btn-danger btn-sm"
                onclick="if (!(confirm('Czy chcesz usunąć to zadanie?'))) return false">
                    Usuń
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>
    <a th:href="@{/main/menu}">Powrót do menu</a>
</div>
</body>
</html>