<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Add Court</title>
</head>
<body>

    <div class="container">

        <h3>Dodaj sąd</h3>
        <hr>

        <p class="h4 mb-4">Zapisz sąd</p>
        <form action="#" th:action="@{/courts/save}"
        th:object="${court}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{courtId}"/>

            <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
            placeholder="nazwa">
            <input type="text" th:field="*{address}" class="form-control mb-4 col-4"
            placeholder="adres">
            <input type="text" th:field="*{description}" class="form-control mb-4 col-4"
            placeholder="opis">
            <button type="submit" class="btn btn-info col-2">Zapisz</button>

        </form>

        <hr>
        <a th:href="@{/courts/list}">Powrót do listy sądów</a>
        <br>
        <a th:href="@{/main/menu}">Powrót do menu</a>


    </div>

</body>
</html>