<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Add Poa</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3 th:text="#{poa.add}"></h3>


        <p class="h4 mb-4" th:text="#{poa.save}"></p>
        <form action="#" th:action="@{/poas/save}"
        th:object="${poa}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{poaId}"/>

            <p th:text="#{poa.type}"></p>
            <input type="text" th:field="*{type}" class="form-control mb-4 col-4">
            <p th:text="#{poa.payment}"></p>
            <input type="text" th:field="*{payment}" class="form-control mb-4 col-4">
            <p th:text="#{poa.kpc}"></p>
            <input type="text" th:field="*{kpc}" class="form-control mb-4 col-4">
            <p th:text="#{poa.termination}"></p>
            <input type="text" th:field="*{termination}" class="form-control mb-4 col-4">
            <p th:text="#{poa.startDate}"></p>
            <input type="date" th:field="*{startDate}" class="form-control mb-4 col-4">
            <p th:text="#{poa.endDate}"></p>
            <input type="date" th:field="*{endDate}" class="form-control mb-4 col-4">
            <p th:text="#{poa.terminationNotificationDuty}"></p>
            <input type="text" th:field="*{terminationNotificationDuty}" class="form-control mb-4 col-4">
            <p th:text="#{poa.terminationNotificationDutyCompleted}"></p>
            <input type="text" th:field="*{terminationNotificationDutyCompleted}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2" th:text="#{poa.save}"></button>

        </form>

        <hr>
        <a th:href="@{/poas/list}" th:text="#{poa.backToPoaList}"></a>
        <br>
        <a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>


    </div>

</body>
</html>
