<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navigationBar">

    <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #002F5D;">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Law CRM</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-2 d-none d-md-block bg-light sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">
                                <span data-feather="home"></span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <span data-feather="file"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addresses/list">
                                <span data-feather="shopping-cart"></span>
                                Adresy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacts/list">
                                <span data-feather="users"></span>
                                Kontakty
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courts/list">
                                <span data-feather="bar-chart-2"></span>
                                Sądy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/lawsuits/list">
                                <span data-feather="layers"></span>
                                Sprawy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/notes/list">
                                <span data-feather="layers"></span>
                                Notatki
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tags/list">
                                <span data-feather="layers"></span>
                                Tagi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tasks/list">
                                <span data-feather="layers"></span>
                                Zadania
                            </a>
                        </li>

                    </ul>


                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"><div th:insert="this::tableHeader"></div></h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>
                <div th:insert="this::content">

                </div>
            </main>
        </div>
    </div>
</div>

</body>
</html>
