<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Dodaj notatkę</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3>Dodaj notatkę</h3>


        <p class="h4 mb-4">Zapisz notatkę</p>
        <form action="#" th:action="@{/notes/save}"
        th:object="${note}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}"/>

            <input type="text" th:field="*{title}" class="form-control mb-4 col-4"
            placeholder="tytuł">
            <input type="text" th:field="*{text}" class="form-control mb-4 col-4"
            placeholder="zawartość">

            <button type="submit" class="btn btn-info col-2">Zapisz</button>

        </form>

        <hr>
        <a th:href="@{/notes/list}">Powrót do listy notatek</a>
        <br>
        <a th:href="@{/main/menu}">Powrót do menu</a>


    </div>

</body>
</html>
