<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar :: navigationBar"></div>

<h2 th:text="#{note.details}"></h2>
<table class="table table-striped" th:object="${noteDTO}">
    <tr>
        <th th:text="#{note.title}"></th>
        <td th:text="*{title}"></td>
    </tr>
    <tr>
        <th th:text="#{note.content}"></th>
        <td th:text="*{text}"></td>
    </tr>
</table>
<a th:href="@{{id}/edit(id=${noteDTO.noteId})}" class="btn btn-info btn-sm"
   th:text="#{command.update}"></a>
<hr>
<a th:href="@{/notes/list}" th:text="#{note.backToNoteList}"></a>
<br>
<a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>
</body>
</html>
