<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Lawyer</title>
    <!-- reference CSS style -->
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>

<a th:href="@{/addresses/list}" class="btn btn-primary btn-sm mb-3">
    Adresy
</a>
<a th:href="@{/contacts/list}" class="btn btn-primary btn-sm mb-3">
    Kontakty
</a>
<a th:href="@{/courts/list}" class="btn btn-primary btn-sm mb-3">
    Sądy
</a>
<a th:href="@{/lawsuits/list}" class="btn btn-primary btn-sm mb-3">
    Sprawy
</a>
<a th:href="@{/notes/list}" class="btn btn-primary btn-sm mb-3">
    Notatki
</a>
<a th:href="@{/tags/list}" class="btn btn-primary btn-sm mb-3">
    Tagi
</a>
<a th:href="@{/tasks/list}" class="btn btn-primary btn-sm mb-3">
    Zadania
</a>

</body>
</html>
