<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Add Contact</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

    <div class="container">
        <br>
        <h3 th:text="#{contact.add}"></h3>


        <p class="h4 mb-4" th:text="#{contact.save}"></p>
        <form action="#" th:action="@{/contacts/save}"
        th:object="${contact}" method="post">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}"/>

            <p th:text="#{contact.name}"></p>
            <input type="text" th:field="*{name}" class="form-control mb-4 col-4"/>
            <p th:text="#{contact.firstName}"></p>
            <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4"/>
            <p th:text="#{contact.lastName}"></p>
            <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4"/>
            <p th:text="Email"></p>
            <input type="text" th:field="*{email}" class="form-control mb-4 col-4"/>
            <p th:text="Email + ' 2'"></p>
            <input type="text" th:field="*{altEmail}" class="form-control mb-4 col-4"/>
            <p th:text="#{contact.phone}"></p>
            <input type="text" th:field="*{phone}" class="form-control mb-4 col-4"/>
            <p th:text="#{contact.phone} + ' 2'"></p>
            <input type="text" th:field="*{altPhone}" class="form-control mb-4 col-4"/>
            <p th:text="#{contact.companyName}"></p>
            <input type="text" th:field="*{companyName}" class="form-control mb-4 col-4"/>
            <p th:text="PESEL"></p>
            <input type="text" th:field="*{pesel}" class="form-control mb-4 col-4"/>
            <p th:text="NIP"></p>
            <input type="text" th:field="*{nip}" class="form-control mb-4 col-4"/>
            <p th:text="REGON"></p>
            <input type="text" th:field="*{regon}" class="form-control mb-4 col-4"/>
            <p th:text="KRS"></p>
            <input type="text" th:field="*{krs}" class="form-control mb-4 col-4"/>
            <p th:text="#{contact.address}"></p>
            <input type="text" th:field="*{address}" class="form-control mb-4 col-4"/>

            <button type="submit" class="btn btn-info col-2" th:text="#{command.save}"></button>

        </form>

        <hr>
        <a th:href="@{/contacts/list}" th:text="#{contact.backToContactList}"></a>
        <br>
        <a th:href="@{/main/menu}"th:text="#{command.backToMenu}"></a>


    </div>

</body>
</html>
