<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/setup-links :: cssSetup"></div>
    <title>Contact list</title>
</head>
<body>

<div th:replace="fragments/navbar :: navigationBar"></div>

<div class="container">
    <br>
    <h3 th:text="#{contact.list}"></h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{contact.name}"></th>
            <th th:text="#{contact.firstName}"></th>
            <th th:text="#{contact.lastName}"></th>
            <th th:text="#{contact.phone}"></th>
            <th th:text="Email"></th>
            <th th:text="#{contact.companyName}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempContact : ${contacts}">
            <td><a th:href="@{/contacts/__${tempContact.contactId}__}" th:text="${tempContact.name}"></a></td>
            <td th:text="${tempContact.firstName}"></td>
            <td th:text="${tempContact.lastName}"></td>
            <td th:text="${tempContact.phone}"></td>
            <td th:text="${tempContact.email}"></td>
            <td th:text="${tempContact.companyName}"></td>
            <!-- add button -->
            <td>
                <a th:href="@{/contacts/{id}/edit(id=${tempContact.contactId})}"
                   class="btn btn-info btn-sm" th:text="#{command.update}">
                </a>
                <a th:href="@{/contacts/delete(contactId=${tempContact.contactId})}"
                   class="btn btn-danger btn-sm"
                   th:data-confirm-delete="#{contact.deleteConfirm}"
                   onclick="if (!(confirm(this.getAttribute('data-confirm-delete')))) return false"
                    th:text="#{command.delete}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Add a button -->
    <a th:href="@{/contacts/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3"
        th:text="#{contact.add}">
    </a>
    <hr>
    <a th:href="@{/main/menu}" th:text="#{command.backToMenu}"></a>
</div>
</body>
</html>
